# Arquivos e pastas do Minecraft
world/
world_nether/
world_the_end/
logs/
cache/
crash-reports/
usercache.json
whitelist.json
banned-players.json
banned-ips.json
ops.json

# Docker
*.pid
*.log
*.sock

# Geral
*.jar
*.zip
*.gz
*.tar
*.rar
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm / JetBrains
.idea/

# Sistema
*.swp
